@using WebApp.Controllers
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu">
            <li class="header">HEADER</li>
            <li>
                <a href="@Url.Action("Index", "Upload")"><i class="fa fa-link"></i> <span>Subir Archivos</span></a>
            </li>
            <li>
                <a href="@Url.Action("Archivo", "Upload", new { file = "CONTENIDO" })"><i class="fa fa-link"></i> <span>CONTENIDO</span></a>
            </li>
            <li>
                <a href="@Url.Action("Archivo", "Upload", new { file = "REGISTRADOS" })"><i class="fa fa-link"></i> <span>REGISTRADOS</span></a>
            </li>
            <li>
                <a href="@Url.Action("Resultados", "Upload")"><i class="fa fa-link"></i> <span>RESULTADOS</span></a>
            </li>
            @*<li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Multilevel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>*@
        </ul>
        @* END Menu *@
    </section>
</aside>