@model Dictionary<int,string>

@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Archivo</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>[@item.Key] - @item.Value</li>
    }
</ul>
<hr />

